%h1 Inventory

.button= link_to('Add Item', new_item_path(@new_item, container_type: 'inventory', container_id: @inventory.id))

%h2 Items
%ul
  - @inventory.inventory_items.each do |inventory_item|
    %li
      = inventory_item.item.name
      = link_to("remove", inventory_item_path(inventory_item.id), method: :delete)
